.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 82px;
    border-bottom: 2px solid #b1181a;
}

.logo {
    padding-top: 15px;
}

.registerarea {
    height: 522px;
    margin-top: 20px;
    border: 1px solid #dfdfdf;
}

.registerarea h3 {
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 8px;
    background-color: #ececec;
    border-bottom: 1px solid #dfdfdf;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #cf383f;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 240px;
    height: 36px;
    margin-right: 10px;
    border: 1px solid #9a9a9a;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.error {
    color: #e85a5a;
}

.success {
    color: green;
}

.error_icon,
.success_icon {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url(../images/error.png) no-repeat;
}

.success_icon {
    background: url(../images/success.png) no-repeat;
}

.safe {
    margin-left: 155px;
}

.safe em {
    padding: 0 12px;
    color: #fff;
}

.ruo {
    background-color: #e00900;
}

.zhong {
    background-color: #39ba36;
}

.qiang {
    background-color: #f99200;
}

.agree {
    margin: 40px 0 0 88px;
}

.agree input {
    vertical-align: middle;
    margin-top: -2px;
}

.agree a {
    color: #01a0e9;
}

.btn {
    width: 200px;
    height: 34px;
    color: #fff;
    font-size: 14px;
    background-color: #ca111a;
    margin: 40px 0 0 90px;
}

.footer {
    height: 100px;
    text-align: center;
}

.links {
    margin: 20px 0 15px 0;
}

.links a {
    padding: 0 8px;
}

.info {
    line-height: 20px;
}